/* ==========================================================================
  VARIABLES
========================================================================== */

:root {

}

/* ==========================================================================
  VARIABLES (SCSS)
========================================================================== */



$default-bg-color: #FFFFFF;

$default-font-family: 'Roboto', sans-serif;
$default-font-weight: 400;
$default-font-size: max(2rem, 16px);
$default-line-height: normal;

$container-padding: 6rem;
$container-width: 1524px;

$primary-text-color: #717171;
$primary-link-color: #717171;
$primary-link-color-on-hover: #717171;
$primary-link-decoration: underline;
$primary-link-decoration-on-hover: underline;

$selection-color: #FFFFFF;
$selection-bg-color: #F03;